.task-form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-container label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.task-form input,
.task-form textarea,
.task-form select {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.task-form input[type="date"] {
  cursor: pointer;
}

.MuiSelect-root {
  margin-top: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button {
  background: #f2f2f2;
  color: #555;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #e0e0e0;
}

.Cbutton {
  background: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.Cbutton {
  background: #45a049;
}

.Cbutton:active {
  background: #388e3c;
}


@media (max-width: 768px) {
  .task-form-container {
    padding: 15px;
  }

  .Cbutton {
    position: static;
    margin-top: 20px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }

  .cancel-button {
    margin-top: 10px;
  }
}
